.hello {
    color: red;
}
.pano {
    height:50%;
    width:25%;
    margin:10px;
    object-fit: contain;
    box-shadow: 5px 5px 5px rgb(20, 41, 68);
    border-radius: 10px;
}

.map {
    
    height: 600px;
    width:100%;
    border: 1px solid green;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}

#root {
    
    display:flex;
    flex-direction: column;
    /* justify-content: space-around; */
    flex-wrap:nowrap;
    align-items:flex-start;
    background: lightblue;
}
.button {
    
    color:rgb(14, 13, 95);
    background: chocolate;
    
    /*height:50%;*/
    
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    font-size: large;
    font-family:cursive;
}
.chart {
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    width: 500px;
    height:500px;
}
.mapContainer{
    display:flex;
    margin:10px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    width:80%;
    height:20%;
    
}
.menuContainer{
    display: flex; 
    text-align: center;
    height:50px;
    background-color: tomato;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    flex-direction:row-reverse;
    /* justify-content:flex-end; */
    overflow:visible;
    z-index: 1000;
    
}

.dropdown{
    background-color: rgba(44, 211, 233, 0.76);
    /*width: 40%;*/
    padding: 10px;
    margin:3px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
}
.dropdowncontent {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    background-color:rgba(162, 161, 206, 0.705);
}

.dropdowncontent:focus {
    background-color:rgba(240, 17, 17, 0.705);
}

.dropdown:hover .dropdowncontent {
    display: block;
}
.dropdown:hover .dropdowncontent div {
    padding:10px;
}
.dropdown:hover .dropdowncontent div:hover {
    background-color: seagreen;
}