/*some variables for the css file
variables in :root are global*/
:root {
    --blue: red
}
.display {
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pano {
    
    width:100%;
    margin:10px;
    object-fit: contain;
    box-shadow: 5px 5px 5px rgb(20, 41, 68);
    border-radius: 10px;
}

.map {
    
    height: 600px;
    width:500px;
    border: 1px solid green;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}

.root {
    
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    flex-wrap:wrap;
    
    background: lightblue;
}

.chart {
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    width: 500px;
    height:500px;
}
/* .mapContainer{
    display:flex;
    margin:10px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    width:50%;
    height:100%;
    
} */
.menuContainer {
    display:flex;
    flex-direction: column;
}
.control{
    display:flex;
    flex-direction: column;
    width:10%
}

.button {
    
    background-color: rgba(26, 113, 78, 0.76);
    width: 100%;
    padding: 10px;
    margin:3px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
    font-size: large;
    
} 


.dropdown {
    background-color: rgba(44, 211, 233, 0.76);
    width: 100%;
    padding: 10px;
    margin:3px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(128, 128, 128);
    font-size: large;
}
.dropdowncontent {
    display: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    background-color:rgba(162, 161, 206, 0.705);
}

.dropdowncontent:focus {
    background-color:rgba(240, 17, 17, 0.705);
}

.dropdown:hover .dropdowncontent {
    display: block;
}
.dropdown:hover .dropdowncontent div {
    padding:10px;
}
.dropdown:hover .dropdowncontent div:hover {
    background-color: seagreen;
}