.hello {
    color: red;
}
.pano {
    height:400px;
    width:400px;
    object-fit: contain;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}

.map {
    
    height: 600px ;
    width:100%;
    border: 1px solid green;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
}

#root {
    padding: 20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items:center;
    background: lightblue;
}
.button {
    
    color:rgb(14, 13, 95);
    background: chocolate;
    width:40%;
    height:50%;
    padding:10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    font-size: large;
    font-family:cursive;
}
.chart {
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    width: 500px;
    height:500px;
}
.mapContainer{
    display:flex;
    
    flex-direction: column-reverse;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
    width:50%;
    height:50%
}
.menuContainer{
    flex-direction:row;
    justify-content:first baseline;
}

.dropdown{
    background-color: lightsalmon;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}
.dropdowncontent {
    display: none;
    
    background-color:rgb(162, 161, 206);
}

.dropdown:hover .dropdowncontent {
    display: block;
}
.dropdown:hover .dropdowncontent div {
    padding:10px;
}
.dropdown:hover .dropdowncontent div:hover {
    background-color: seagreen;
}